<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "code" %>
  </head>
  <body>
    <%= partial("blocks/header") %>

    <div class="flex overflow-hidden bg-white rounded-lg">
      <div class="hidden md:flex md:flex-shrink-0">
        <%= partial("alas/navigation") %>
      </div>

      <div class="flex flex-col flex-1 w-0 overflow-hidden">
        <main class="relative flex-1 overflow-y-auto focus:outline-none">
          <div class="py-6">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
              <h1><%= current_page.data.title %></h1>
            </div>

            <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
              <!-- Put your content here -->
              <div class="py-4">
                <div class="rounded-lg bg-gray-50 h-96">
                  <%= yield %>
                </div>
              </div>
              <!-- Do not cross the closing tag underneath this coment-->
            </div>
          </div>
        </main>
      </div>
    </div>

    <%= partial("blocks/footer") %>
  </body>
</html>
