<div class="flex flex-col w-64">
  <div class="flex flex-col flex-grow pt-5 overflow-y-auto bg-white border-r border-gray-50">
    <div class="flex flex-col flex-grow px-4 mt-5">
      <nav class="flex-1 space-y-1 bg-white">
        <ul>
          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "Get Started",
              :href  => "/alas-get-started"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "Alas Format",
              :href  => "/alas-format"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "Contacts",
              :href  => "/alas-contacts"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "Editing Plan",
              :href  => "/alas-editor"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "Exit Status",
              :href  => "/alas-exit-status"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--insert-days",
              :href  => "/alas-insert-days"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--insert-task",
              :href  => "/alas-insert-task"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--list-contacts",
              :href  => "/alas-list-contacts"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--remove-empty-days",
              :href  => "/alas-remove-empty-days"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--report",
              :href  => "/alas-report"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--schedule-contacts",
              :href  => "/alas-schedule-contacts"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--schedule-tasks",
              :href  => "/alas-schedule-tasks"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--skip-backup",
              :href  => "/alas-skip-backup"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--stats",
              :href  => "/alas-stats"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "--version",
              :href  => "/alas-version"
            }
          ) %>

          <%= partial(
            "alas/navigation_item",
            :locals => {
              :title => "Tips",
              :href  => "/alas-tips"
            }
          ) %>
        </ul>
      </nav>
    </div>
  </div>
</div>
