---
title: Welcome to Hackberry
---

<div class="content-block">
  <h1>We are Hackberry<span class="text-highlight-1">.</span></h1>

  <p>
    A 2 person web development team working with solid, production tested web
    technologies - Ruby on Rails, JavaScript, PostgreSQL.
  </p>

  <h2>How can we help<span class="text-highlight-1">?</span></h2>

  <dl class="toggle-questions">
    <dt data-toggle-next>
      I visit the same website every day. It's time consuming.
    </dt>

    <dd>
      We can build a system that will check the website for you every day or as
      often as you like. The system can notify you each time it notices a change.
      We can implement notifications via email, Slack or any other platform that
      you already use. <%= contact_link "Let's fix that." %>
    </dd>

    <dt data-toggle-next>
      I have to check many websites every few days. I would like to automate this.
    </dt>

    <dd>
      We can implement a system that will check those websites for you. The
      system can collect data, clean it up and present it in a way that works
      best for you. We can implement notifications that will be triggered when
      a certain condition is met. Let the system do the work and be notified via
      email, Slack or any other platform that you already use.
      <%= contact_link "Let's implement that." %>
    </dd>

    <dt data-toggle-next>
      I have a Rails application and need help with the maintenance.
    </dt>

    <dd>
      We got this. We work with Rails for the last 6 years. Some applications
      we maintained are older than 12. Released before Rails 1.0! We find joy
      in keeping a useful system in a good shape.<br/>
      <%= contact_link "Let's talk about maintaining your application." %>
    </dd>

    <dt data-toggle-next>
      I have a slow Rails application and want to make it faster.
    </dt>

    <dd>
      This happens. There's often not enough time to invest in performance. But
      performance matters. We use a set of solid, industry standard tools to
      find performance bottlenecks in your application. Low hanging fruits and
      high benefits first!
      <%= contact_link "Let's speed up your application." %>
    </dd>

    <dt data-toggle-next>
      I need help with something else.
    </dt>

    <dd>
      Is it on the Web? We can probably do it. We helped our clients automate
      workflows, launch static and Wordpress websites, implement designs
      and Wordpress themes. Even if it's not our core expertise, if you're our
      client, we'll help any way we can.
      <%= contact_link "How can we help you?" %>
    </dd>
  </dl>
</div>
