---
title: Welcome to Hackberry
---

<section>
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
    <div class="flex flex-col w-full mb-12 text-center">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mx-auto mb-5 text-blue-600 rounded-full bg-gray-50">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 icon icon-tabler icon-tabler-aperture" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="3.6" y1="15" x2="14.15" y2="15"></line>
          <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(72 12 12)"></line>
          <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(144 12 12)"></line>
          <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(216 12 12)"></line>
          <line x1="3.6" y1="15" x2="14.15" y2="15" transform="rotate(288 12 12)"></line>
        </svg>
      </div>
      <h1 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
        We keep Ruby on Rails applications clean, well oiled and ticking.
      </h1>

      <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-center text-gray-500">
        We're a 2 person web development team working with a solid, production
        tested web stack - Ruby on Rails, JavaScript and PostgreSQL.
      </p>
    </div>
  </div>
</section>

<section>
  <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
      <div class="mx-auto">
        <h1>How can we help?</h1>
      </div>
    </div>

    <%= partial(
      "blocks/description_with_icon",
      :locals => {
        :term        => "I have a Rails application and need help with the maintenance.",
        :description => "We got this. We work with Rails for more than 10 years. Some applications we maintain are older than 16. Released before Rails 1.0! We find joy in keeping a useful system in a good shape."
      }
    ) %>

    <%= partial(
      "blocks/description_with_icon",
      :locals => {
        :term        => "I have a slow Rails application and want to make it faster.",
        :description => "This happens. There's often not enough time to invest in performance. But performance matters. We use solid, industry standard tools to find performance bottlenecks in your application. Low hanging fruits and high benefits first!"
      }
    ) %>

    <%= partial(
      "blocks/description_with_icon",
      :locals => {
        :term        => "I need help with testing a Rails application.",
        :description => "We would be happy to help! We <strong>always</strong> write tests and we love when other teams take effort to do so. We can help your team start with testing and Test Driven Development. We can write core tests for existing apps, fix flaky tests, optimize test suites and set up a Continuous Integration pipeline for your project."
      }
    ) %>

    <%= partial(
      "blocks/description_with_icon",
      :locals => {
        :term        => "I need help with something else.",
        :description => "Is it on the Web? We can probably do it. We helped our clients automate workflows, launch static and WordPress websites, implement designs and WordPress themes. Even if it's not our core expertise, if you're our client, we'll help any way we can."
      }
    ) %>
</section>

<section>
  <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
      <div class="mx-auto">
        <h2>
          Feel free to get in touch any time by <%= contact_link "sending us an email" %>.
        </h2>
      </div>
    </div>
  </div>
</section>

<section>
  <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
      <div class="mx-auto">
        <h1>Projects</h1>
      </div>

      <%= partial(
        "blocks/description",
        :locals => {
          :term => link_to("Alas", "/alas.html"),
          :description => "Alas is a command line utility for managing a plan in a single Markdown file."
        }
      ) %>
    </div>
  </div>
</section>

<% if blog.articles.any? %>
  <section>
    <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
        <div class="mx-auto">
          <h1>Blog</h1>
        </div>

        <% blog.articles.each do |article| %>
          <div class="flex flex-col items-center py-6 mx-auto mb-2 border-b border-gray-200 sm:flex-row lg:w-1/2">
            <div class="inline-flex items-center flex-grow mt-6 text-left sm:mt-0">
              <%= link_to(
                article.title,
                article.url,
                :class => "pr-12 text-xs font-semibold tracking-widest text-blue-600 uppercase no-underline hover:text-neutral-600"
              ) %>
              <%= link_to(
                "»",
                article.url,
                :class => "ml-auto text-blue-600 no-underline hover:text-neutral-600"
              ) %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
